.Ellipse_1_176_208 {
    filter: blur(150px);
    background: radial-gradient(50% 50%, #ee7302cc 0%, #a3b09900 100%);
    border-radius: 967px;
    flex-shrink: 0;
    width: 967px;
    height: 859px;
  }
  .Ellipse_2_176_209 {
    filter: blur(50px);
    border-radius: 1456px;
background: radial-gradient(50% 50% at 50% 50%, rgba(233, 113, 2, 0.22) 0%, rgba(163, 176, 153, 0.00) 100%);
    flex-shrink: 0;
    width: 989px;
    height: 1456px;
  }
  

  .Ellipse_2_176_210 {
    border-radius: 967px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(243, 161, 9, 0.8) 0%, rgba(163, 176, 153, 0.00) 100%);
    filter: blur(150px);
    opacity:0.30;
    flex-shrink: 0;
    width: 989px;
    height: 1456px;
  }
  

 
  .Ellipse_13_176_203 {
    filter: blur(64px);
    background: radial-gradient(50% 50% at 50% 50%, #F9BF00 0%, rgba(252, 232, 3, 0.00) 100%);
    opacity: 0.15;
    border-radius: 637px;
    flex-shrink: 0;
    width: 1245px;
    height: 512px;
  }
  
  .Frame_5408_176_206 {
    background: #e8af52;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 32px;
    display: inline-flex;
    box-shadow: 0 4px 32px #e8af5299;
    max-height: max-content;
    margin-top: 20px;
  }
  .ViewProducts_176_207 {
    color: #000;
    text-align: center;
    font-family: "Blauer Nue";
    font-size: 24px;
    font-style: bold;
    font-weight: 400;
    line-height: 150.07%;
    display: inline-block;
  }
  

  .YourMostModernHomeWithOurProducts_176_223 {
    background: var(--text-grd, linear-gradient(0deg, #fff 0%, #e8af52 100%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 640px;
    font-family: Serena;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 121.6%;
    display: inline-block;
    margin-top: 30px;
  }
  
  
  .Group_5369_176_226 {
    flex-shrink: 0;
    width: 117px;
    height: 353px;
    margin: 40px 20px 0px 0px;
  }

  .Rectangle_36_176_355 {
    flex-shrink: 0;
    width: 680px;
    height: 372px;
  }


  .ExperienceThePerfectBlendOfHeritage_176_356,
  .ExperienceThePerfectBlendOfHeritage_176_357 {
    background: var(--text-grd, linear-gradient(0deg, #fff 0%, #e8af52 100%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 583px;
    font-family: Blauer Nue;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    display: inline-block;
  }
  .ExperienceThePerfectFusionOfTraditionAndModernityWithTheUsAddATouchOfOpulenceToYourHomeAndLetYourDécorTellAStoryOfEleganceYourHomeAndLetYourDécorTellAStoryOfEleganceYourHomeAndLetYourDécorTellAStoryOfElegance_176_358 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #e8af52 0%, #ffffffe0 19.82%);
    -webkit-background-clip: text;
    background-clip: text;
    width: 583px;
    font-family: Blauer Nue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
  }
  .ExperienceThePerfectFusionOfTraditionAndModernityWithTheUsAddATouchOfOpulenceToYourHomeAndLetYourDécorTellAStoryOfEleganceYourHomeAndLetYourDécorTellAStoryOfEleganceYourHomeAndLetYourDécorTellAStoryOfElegance_176_359 {
    background: var(--text-grd, linear-gradient(0deg, #fff 0%, #e8af52 100%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 583px;
    font-family: Blauer Nue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
  }

  