@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}


@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/glancyr-glancyr-regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/glancyr-glancyr-medium-500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/glancyr-glancyr-bold-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/glancyr-glancyr-light-200.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/glancyr-glancyr-extra-light-100.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Serena';
  src: url('/fonts/Serena.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlauerNue-Bold.otf') format('opentype');
  font-weight: bold; /* Corrected to lowercase 'bold' */
  font-style: normal;
}

@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlauerNue-Thin.otf') format('opentype');
  font-weight: 100; /* Using numerical equivalent for 'thin' */
  font-style: normal;
}

@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlauerNue-SemiBold.otf') format('opentype');
  font-weight: 600; /* Using numerical equivalent for 'semibold' */
  font-style: normal;
}


@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlauerNue-Medium.otf') format('opentype');
  font-weight: 500; /* Using numerical equivalent for 'medium' */
  font-style: normal;
}


@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/BlauerNue-ExtraBold.otf') format('opentype');
  font-weight: 800; /* Using numerical equivalent for 'extrabold' */
  font-style: normal;
}




