.DeccanLogin_131_64 {
    border: 1px solid var(--Button-Gradient, #878787);
    box-sizing: border-box;
    background: linear-gradient(242deg, #101318 -2.26%, #1a1c21 100%);
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 55px 45px;
    display: flex;
    overflow: hidden;
  }
  .Card_131_65 {
    border: 1px solid var(--Button-color, #e8af52);
    box-sizing: border-box;
    background: #ffffff05;
    border-radius: 16px;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 1350px;
    height: 914px;
    display: flex;
    overflow: hidden;
    box-shadow: inset 0 1px #ffffff14;
  }
  .Group_5400_131_66 {
    flex-shrink: 0;
    width: 1245px;
    height: 996px;
  }
  .Rectangle_39_131_68 {
    background:
      url("/public/background.jpg") 50% / cover no-repeat,
      #d9d9d9;
    border-radius: 12px;
    flex-shrink: 0;
    width: 675px;
    height: 818px;
  }
  .WelcomeBack_131_69 {
    color: #fff;
    font-family: Blauer Nue;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
  }
  .DonTHaveAnAccountSignup_131_70 {
    color: #e8af52;
    font-family: Blauer Nue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
  }
  .Group_5407_131_100 {
    flex-shrink: 0;
    width: 542px;
    height: 70px;
  }
  .Frame_5406_131_78 {
    border: 1px solid var(--text-grd, #fff);
    box-sizing: border-box;
    background: #ffffff05;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 48px;
    display: inline-flex;
  }
  .LoginWithOtp_131_79 {
    color: #fff;
    font-family: Blauer Nue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
  }
  