/* Common Slider Styling */
input[type="range"] {
    -webkit-appearance: none;
    width: 150%;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Customizing the Thumb (Pointer) */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f9bf00; /* Yellow color */
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    
    top: -2px; /* Adjust this to move it up/down */
  }
  
  /* For Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #f9bf00;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -2px;
  }
  
  /* Track Styling */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 150%;
    height: 10px;
    background: white;
    border-radius: 4px;
  }

  

.text-appointment-btn {
   
    color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
}

.text-stats {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}
.text-stats-container {
    text-align: center;
}
.text-stats-container > p {
    color: rgb(77, 75, 75);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    letter-spacing: .7px;
}
.text-stats-container p:first-child {
    margin-bottom: 8px;
    color: #1A8EFD;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
/* Image section */
.hero-image-section {
    width: 40%;
    max-width: 100%;
    text-align: center;
}
.hero-image1 {
    width: 100%;
    height: auto;
}
/* Scroll Btn */
.scroll-up {
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #1A8EFD;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
}  
.show-scroll {
  display: flex;
}
/* Responsive */
@media screen and (max-width: 900px) {
    .hero-image-section {
        display: none;
    }
    .text-section {
        width: 100%;
        padding: 0;
    }
    .text-title, .text-descritpion {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .text-headline {
        font-size: 20px;
    }
    .text-title {
        font-size: 28px;
    }
    .text-descritpion {
        font-size: 16px;
    }
    .text-appointment-btn {
        font-size: 16px;
    }
    .text-stats {
        gap: 18px;
    }
    .text-stats-container > p {
        font-size: 16px;
    }
    .text-stats-container p:first-child {
        font-size: 22px;
    }
    .scroll-up {
        bottom: 32px;
        right: 32px;
    }
}
